<a href="https://colab.research.google.com/github/andrewhslr419/SQL/blob/master/SQL_with_Max.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import sql
import psycopg2
#interger
#real = float
#text = string
#null 
#date
#datetime
#blob - can be anything

In [0]:
import sqlite3

conn = sqlite3.connect('Training.db')

c = conn.cursor()

conn.commit()

c.close()
conn.close()

In [0]:
'''creating and moving tables'''
conn = sqlite3.connect('Training.db')

c = conn.cursor()

# c.execute('CREATE TABLE tablename(column1name datatype'+
#           'PRIMARY KEY, column2name datatype)')

# c.execute(('CREATE TABLE IF NOT EXISTS '+
#            'ebayBids(transactionID INT'+
#            'PRIMARY KEY, auctionID INT, bid REAL, bidtime REAL'+
#            'bidder INT)'))

c.execute('DROP TABLE ebayBids')

conn.commit()

c.close()
conn.close()

In [0]:
'''inserting data'''
conn = sqlite3.connect('Training.db')

c = conn.cursor()

values = [(2,1,5.3,0.2,2),
          (3,1,6.3,0.5,1)
          ]



c.executemany('INSERT INTO ebayBids VALUES(?,?,?,?,?)',values)
conn.commit()

# c.close()
# conn.close()

OperationalError: ignored

In [0]:
'''read data'''
c.execute('SELECT bid,bidtime FROM ebayBids')
#fetch results 1 at a time
# result = c.fetchone()
# print(result)

#fetch next in line
# result = c.fetchone()
# print(result)

#get multipule rows
# result = c.fetchmany(size=2)
# print(result)

#get everything
# result = c.fetchall()
# print(result)


conn.commit()

In [0]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("Training.db")
c = conn.cursor()

#1. Remove the old ebayBids table.
#Note: You can check if the table exists by using the 
#IF EXISTS statement in a similar way to how we did it 
#for creating a new table

#c.execute("DROP TABLE IF EXISTS ebayBids")

#2. Load the data from ebayBids.csv and put it into a fresh 
#ebayBids table.

def processCSV(fileName):
    df = pd.read_csv(fileName)
    
    data = []
#    columns = ["auctionid",'bid',"bidtime","bidder"]
    tId = 1
    for index,row in df.iterrows():
        
        acId = row["auctionid"]
        bid =  row["bid"]
        bidtime = row["bidtime"]
        bidder = row["bidder"]
        
        data.append((tId,acId,bid,bidtime,bidder))
        tId += 1
        
    return data
        

# c.execute(("CREATE TABLE IF NOT EXISTS ebayBids(transactionID INT"+
#             " PRIMARY KEY, auctionid INT, bid REAL, "+
#             "bidtime REAL, bidder INT)"))

# ebayBidsData = processCSV("ebayBids.csv")
#
#c.executemany("INSERT INTO ebayBids VALUES (?,?,?,?,?)",ebayBidsData)

#3. Load the data from ebayAuctions.csv and put it into the 
#ebayAuctions table.

# df = pd.read_csv('ebayAuctions.csv')
# df.head(5)

def processAuctionCSV():
  df = pd.read_csv('ebayAuctions.csv')
  data = []

  for index,rows in df.iterrows():
    auctionID = row['auctionid']
    openbid = row['openbid']
    price = row['price']
    data.append((auctionid,openbid,price))

  return data

c.execute(('CREATE TABLE IF NOT EXISTS ebayAuctions(auctionID INT)'+
           'PRIMARY KEY, openbid REAL, price REAL)'))


conn.commit()

c.close()
conn.close()

In [0]:
conn = sqlite3.connect("Training.db")
c = conn.cursor()

#1. Ensure the data in each got loaded in correctly by viewing the data in the DB viewer.
# df = pd.read_csv('ebayBids.csv')
# print(len(df['auctionid']))
# df = pd.read_csv('ebayAuctions.csv')
# print(len(df['auctionid']))

#2. Select the first 5 rows of each DB and compare your result to the first 5 rows in each table.

df = pd.read_csv('ebayAuctions.csv')
df.head()
c.execute('SELECT * from ebayAuctions LIMIT 5')
print(c.fetchall())

df = pd.read_csv('ebayBids.csv')
df.head()
c.execute('SELECT * from ebayBids LIMIT 5')
print(c.fetchall())

#3. In the DB viewer navigate to the ‘Execute SQL’ tab and perform the same 
#reading of the first 5 rows from each table. Make sure all of your results align.

'''in the viewer'''
#SELECT * FROM ebayBids LIMIT 5

[]

In [0]:
'''In this exercise we’re going to practice understanding a new database,
 since we may not always be the creator of the database.'''
import sqlite3
conn = sqlite3.connect("Training.db")
c = conn.cursor()
#1. Load the variable.db database into the DB browser. By using the schema
#understand what each value should look like and then insert 2 custom rows into the table.

# eventKEY, userId, eventId, eventName, time
# INT,       INT,    INT,     TEXT,      REAL

data = [(1,1,1,'Login',123.456),
        (2,2,1,'Login',123,556)
        ]

c.executemany('INSERT INTO userData VALUES (?,?,?,?,?)',data)


conn.commit()
c.close()
conn.close()

In [0]:
'''aliasing and ordering'''
import sqlite3
conn = sqlite3.connect("Training.db")
c = conn.cursor()

c.execute(('SELECT eb.bidtime AS bt,'+
          ' eb.transactionID AS tID,'+
          ' FROM ebayBids AS eb ',+
          ' ORDER BY tID DESC ,bt'
          ' LIMIT 5'))


columns = [x[0] for x in c.description]
print(columns)
print(c.description)
results = c.fetchall()
print(results)
conn.commit()




c.close()
conn.close()

OperationalError: ignored